@typeparam TItem

<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr class="bg-gray-200">
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Timestamp</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Level</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Source</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Message</th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    @if (Items != null)
    {
        foreach (var item in Items.Cast<global::DevTrace.Core.Entities.TraceEvent>())
        {
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">@item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">@item.Level</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">@item.Source</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">@item.Message</td>
            </tr>
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public IReadOnlyList<TItem>? Items { get; set; }
}