@page "/devtrace"
@using global::DevTrace.Core.Services
@using global::DevTrace.Core.Entities
@inject ITraceEventService TraceEventService

<h3 class="text-3xl font-bold text-indigo-600 mb-4">DevTrace Dashboard</h3>

@if (events == null)
{
    <p class="text-gray-500 italic">Carregando eventos...</p>
}
else
{
    <Chart />

    <div class="mt-6">
        <EventTable TItem="TraceEvent" Items="events" />
    </div>
}

@code {
    private IReadOnlyList<TraceEvent>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await TraceEventService.GetEventsAsync();
    }
}