@page "/devtrace"
@namespace DevTrace.UI.Pages.DevTrace
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>DevTrace</title>
    <base href="/devtrace/" />
    <link href="css/tailwind.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</app>
<script src="_framework/blazor.server.js"></script>
</body>
</html>